article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

canvas {
  background: #222223;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section.content {
  display: none;
}

main {
  display: none;
}

.loadMore {
  width: 100%;
}

.countdown {
  text-align: center;
}

.otherPerson__Form fieldset * {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.chart__container {
  height: 400px;
  margin: 20px 0;
}

.chart__container.globalAgeGenPop__container {
  height: 1000px;
}

.chart__container.globalAgeGenPop__container .chart {
  height: 1000px;
}

.chart__container .chart {
  width: 100%;
  height: 400px;
}

.countryLabel {
  visibility: hidden;
  position: absolute;
}

body {
  background: #A7CACA;
  font-size: 1.999rem;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.centerme.userInfoInput {
  width: 100%;
  height: 100vh;
  position: relative;
  background: auto;
}

section.userInfoInput {
  width: 100%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 10px 15px #2C414E;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media all and (max-width: 755px) {
  section.userInfoInput {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

section.userInfoInput .explaination {
  position: relative;
  padding: 40px 40px 30px;
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media all and (max-width: 976px) {
  section.userInfoInput .explaination {
    background-image: url(../assets/bigHero.jpg);
    background-size: 200%;
    background-position: 40% 30%;
  }
}

@media all and (max-width: 755px) {
  section.userInfoInput .explaination {
    background-size: cover;
  }
  section.userInfoInput .explaination h1 {
    line-height: 4.4rem;
  }
}

section.userInfoInput .explaination i {
  font-size: 25px;
}

section.userInfoInput .overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

section.userInfoInput .text {
  position: relative;
  z-index: 2;
  color: white;
  letter-spacing: 1px;
  line-height: 30px;
}

section.userInfoInput .text a {
  color: white;
}

section.userInfoInput .text a:hover {
  color: #e6e6e6;
}

section.userInfoInput .text h1 {
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 50px;
}

section.userInfoInput form {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: top;
      -ms-flex-item-align: top;
          align-self: top;
  font-size: 1.414rem;
}

section.userInfoInput form .formAge div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 755px) {
  section.userInfoInput form .formAge div {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section.userInfoInput form h2 {
  font-size: 2.827rem;
  background: #FFBB00;
  margin: 0;
  padding: 2px 0;
  text-align: center;
}

section.userInfoInput form fieldset {
  margin-top: 20px;
  border: none;
  padding: 5px;
}

section.userInfoInput form fieldset legend {
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 1.999rem;
}

section.userInfoInput form .flexme {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media all and (max-width: 755px) {
  section.userInfoInput form .flexme {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section.userInfoInput header {
  background: #FF3D00;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section.userInfoInput header h1 {
  margin: 0;
  padding: 5px;
  font-size: 3.998rem;
}

section.userInfoInput .country, section.userInfoInput option {
  width: 100%;
  text-align: center;
}

@media all and (max-width: 755px) {
  section.userInfoInput .country, section.userInfoInput option {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

input {
  border: none;
}

input[type=number] {
  border-bottom: 2px solid lightgrey;
  margin: 0 15px;
  text-align: center;
}

input[type=submit] {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 30px;
  background: none;
  border: 4px solid #FFBB00;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 1.999rem;
  transition: background 0.5s;
}

input[type=submit]:hover {
  background: #FFBB00;
}

section.landingSplash, .countDownSection .countdown, .jobInfo, .ageGenderPop, .countdownText, .maleVsFemalerPop, .globalAgeGenPop, .globalPopVsAge {
  background: white;
  margin-top: 40px;
  padding-bottom: 15px;
  box-shadow: 5px 10px 15px #2C414E;
}

section.landingSplash h2, .countDownSection .countdown h2, .jobInfo h2, .ageGenderPop h2, .countdownText h2, .maleVsFemalerPop h2, .globalAgeGenPop h2, .globalPopVsAge h2 {
  margin: 0;
  background: #FFBB00;
  padding: 10px;
}

section.landingSplash h2, .countDownSection .countdown h2, .jobInfo h2, .ageGenderPop h2, .countdownText h2, .maleVsFemalerPop h2, .globalAgeGenPop h2, .globalPopVsAge h2, section.landingSplash p, .countDownSection .countdown p, .jobInfo p, .ageGenderPop p, .countdownText p, .maleVsFemalerPop p, .globalAgeGenPop p, .globalPopVsAge p {
  padding-left: 30px;
  padding-right: 30px;
}

section.landingSplash fieldset, .countDownSection .countdown fieldset, .jobInfo fieldset, .ageGenderPop fieldset, .countdownText fieldset, .maleVsFemalerPop fieldset, .globalAgeGenPop fieldset, .globalPopVsAge fieldset {
  margin-top: 20px;
  border: none;
  padding: 5px;
}

section.landingSplash fieldset legend, .countDownSection .countdown fieldset legend, .jobInfo fieldset legend, .ageGenderPop fieldset legend, .countdownText fieldset legend, .maleVsFemalerPop fieldset legend, .globalAgeGenPop fieldset legend, .globalPopVsAge fieldset legend {
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 1.999rem;
}

section.landingSplash fieldset label, .countDownSection .countdown fieldset label, .jobInfo fieldset label, .ageGenderPop fieldset label, .countdownText fieldset label, .maleVsFemalerPop fieldset label, .globalAgeGenPop fieldset label, .globalPopVsAge fieldset label {
  visibility: hidden;
  position: absolute;
}

.countDownSection .countdown {
  width: 400px;
}

.appArea__Flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
}

@media all and (max-width: 820px) {
  .appArea__Flex {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.jobInfo p, .jobInfo div {
  padding: 0 40px;
}

.jobInfo label {
  visibility: hidden;
  position: absolute;
}

.jobInfo legend {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.jobInfo .flexme {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 500px) {
  .jobInfo .flexme {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.jobInfo .flexme div {
  width: 50%;
}

@media all and (max-width: 820px) {
  .jobInfo .flexme div {
    padding: 0;
  }
}

@media all and (max-width: 500px) {
  .jobInfo .flexme div {
    width: 100%;
  }
}

.jobInfo .flexme div:first-child legend, .jobInfo .flexme div:first-child select {
  width: 100%;
  text-align: center;
}

.ageGenderPop p, .countdownText p, .ageGenderPop div, .countdownText div {
  padding: 0 40px;
}

.maleVsFemalerPop {
  padding-bottom: 130px;
}

.maleVsFemalerPop h3 {
  text-align: center;
}

.maleVsFemalerPop .maleVsFemalerPop__container {
  width: calc(50% - 20px);
}

.maleVsFemalerPop .maleVsFemalerPopLeft__container {
  margin-right: 10px;
}

@media all and (max-width: 840px) {
  .maleVsFemalerPop .maleVsFemalerPopLeft__container {
    margin: 0;
    margin-bottom: 100px;
  }
}

.maleVsFemalerPop .maleVsFemalerPopRight__container {
  margin-left: 10px;
}

@media all and (max-width: 840px) {
  .maleVsFemalerPop .maleVsFemalerPopRight__container {
    margin: 0;
  }
}

.maleVsFemalerPop p, .maleVsFemalerPop div {
  padding: 0 40px;
}

@media all and (max-width: 1040px) {
  .maleVsFemalerPop div {
    padding: 0;
  }
}

@media all and (max-width: 840px) {
  .maleVsFemalerPop .maleVsFemalerPop__container.chart__container {
    width: 100%;
  }
}

.maleVsFemalerPop .flexme {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 840px) {
  .maleVsFemalerPop .flexme {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.globalAgeGenPop p, .globalAgeGenPop div {
  padding: 0 40px;
}

@media all and (max-width: 840px) {
  .globalAgeGenPop div {
    padding: 0;
  }
}

.globalPopVsAge p, .globalPopVsAge div {
  padding: 0 40px;
}
