.countryLabel {
		visibility: hidden;
		position: absolute;
	}

body {
	background: #A7CACA;
	font-size: 1.999rem;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

.centerme.userInfoInput {
	width: 100%;
	height: 100vh;
	position: relative;
	background: auto;
}
section.userInfoInput {
	width: 100%;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 5px 10px 15px #2C414E;
	transform: translate( -50%, -50%);
	display: flex;
	flex-direction: row-reverse;
	@media all and (max-width: 755px){
		flex-direction: column;
		top: 0;
		transform: translateX(-50%);
	}
	.explaination {
		position: relative;
		padding: 40px 40px 30px;
		background-image: url(../assets/hero.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		flex-grow: 2;
		@media all and (max-width: 976px){
		background-image: url(../assets/bigHero.jpg);
		background-size: 200%;
		background-position: 40% 30%;
		}
		@media all and (max-width: 755px){
			background-size: cover;
			h1 {
				line-height: 4.4rem;
			}
		}
		i {
			font-size: 25px;
		}
	}
	.overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.6);
	}
	.text {
		position: relative;
		z-index: 2;
		color: white;
		letter-spacing: 1px;
		line-height: 30px;
		a {
			color: white;
		}
		a:hover {
			color: darken(white, 10);
		}
		h1 {
			text-transform: capitalize;
			letter-spacing: 4px;
			margin-top: 0;
			margin-bottom: 50px;
		}
	}
	form {
		flex-grow: 1;
		align-self: top;
		font-size: 1.414rem;
		.formAge div{
			display: flex;
			justify-content: space-between;
			@media all and (max-width: 755px){
				justify-content: center;
			}
		}
		h2 {
			font-size: 2.827rem;
			background: $colorTwo;
			margin:0;
			padding: 2px 0;
			text-align: center;
		}
		fieldset{
			margin-top: 20px;
			legend {
				text-align: center;
				font-family: $headerFont;
				letter-spacing: 1px;
				font-size: 1.999rem;
			}
			border: none;
			padding: 5px;
		}
		.flexme {
			display: flex;
			justify-content: space-around;
			@media all and (max-width: 755px){
				justify-content: center;
			}
		}
	}
	header {
		background: $colorOne;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		h1 {
			margin: 0;
			padding: 5px;
			font-size: 3.998rem;
		}
	}
	
	.country, option {
		width: 100%;
		text-align: center;
		@media all and (max-width: 755px){
			width: 50%;
			margin: 0 auto;
			display: block;
		}
	}
}

		input {
			border: none;
		}
		input[type=number]{
			border-bottom: 2px solid lightgrey;
			margin: 0 15px;
			text-align: center;
		}
input[type=submit] {
		position: relative;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding: 30px;
		background: none;
		border: 4px solid $colorTwo;
		margin-top: 20px;
		font-family: $headerFont;
		font-size: 1.999rem;
		transition: background 0.5s ;
	}
	input[type=submit]:hover {
		background: $colorTwo;
	}
