section.content {
	display: none;
}
main {
	display: none;
}

.loadMore {
	width: 100%;
}

.countdown{
	text-align: center;
}

.otherPerson__Form fieldset *{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.chart__container{
	height: 400px;
	margin: 20px 0;
	
	&.globalAgeGenPop__container{
		height: 1000px;
		.chart {
			height: 1000px;
		}
	}
	.chart {
		width: 100%;
		height: 400px;
	}
}