$colorOne: #FF3D00;
$colorTwo: #FFBB00;
$background: #2C414E;
$softBlack:  #222223;
$headerFont:'Oswald', sans-serif;
$otherFont:'Open Sans', sans-serif;
.bold {
	font-weight: bold;
	font-style: normal;
}

.timeTitle {
	font-weight: bold;
}